<md-nav-bar
    ng-if="!$ctrl.list"
    md-no-ink-bar="false"
    md-selected-nav-item="$ctrl.getActiveName()"
    nav-bar-aria-label="navigation links">
  <md-nav-item
      ng-repeat="item in $ctrl.menuItems"
      md-nav-click="$ctrl.navigate(item)" name="{{ item.name }}">
    {{ item.title }}
  </md-nav-item>
</md-nav-bar>

<md-list
    ng-if="$ctrl.list"
    nav-bar-aria-label="navigation links">
  <md-list-item
      ng-repeat="item in $ctrl.menuItems"
      ng-class="{active: $ctrl.isActive(item)}">
    <md-button
        class="md-raised sidebar-btn"
        ng-class="{'md-primary': $ctrl.isActive(item)}"
        ng-click="$ctrl.navigate(item)"
        name="{{ item.name }}"
    >{{ item.title }}
    </md-button>
  </md-list-item>
</md-list>
