<md-content flex layout-padding>
  <p ng-if="!$ctrl.getUser()">You are no logged in</p>
  <form name="contributionForm"
        ng-if="$ctrl.getUser()"
        ng-submit="contributionForm.$valid && $ctrl.submitForm()"
        novalidate
  >
    <!--<label>Origin</label>-->
    <googlemaps-autocomplete
      placeholder="origin"
      ng-model="$ctrl.origin"
      required="true"
      on-place-changed="$ctrl.changePlace('origin', position)"
      on-error="$ctrl.handleError(error)"
    ></googlemaps-autocomplete>
    <googlemaps-autocomplete
      placeholder="destination"
      ng-model="$ctrl.destination"
      required="true"
      on-place-changed="$ctrl.changePlace('destination', position)"
      on-error="$ctrl.handleError(error)"
    ></googlemaps-autocomplete>
    <div class="form-actions">
      <md-button
        class="md-raised"
        ng-class="{'md-primary':contributionForm.$valid}"
        type="submit">Submit
      </md-button>
    </div>

  </form>
  <md-button ng-click="$ctrl.openDialog()">Open Dialog</md-button>
</md-content>
