<md-content flex layout-padding>
  <p ng-if="!$ctrl.getUser()">You are no logged in</p>
  <form
    flex
    layout="column"
    name="contributionForm"
    ng-if="$ctrl.getUser()"
    ng-submit="contributionForm.$valid && $ctrl.submitForm()"
    novalidate
  >
    <!--<label>Origin</label>-->
    <div flex layout="row">
      <md-button
        class="md-fab md-mini"
        ng-click="$ctrl.openDialog('origin')"
      >
        <md-tooltip md-autohide="true">
          Add origin point
        </md-tooltip>
        <md-icon md-svg-icon="coords"></md-icon>
      </md-button>
      <googlemaps-autocomplete
        flex
        placeholder="origin"
        ng-model="$ctrl.contributionFormData.origin"
        required="true"
        on-place-changed="$ctrl.changePlace('origin', position)"
        on-error="$ctrl.handleError(error)"
      ></googlemaps-autocomplete>
    </div>
    <div flex layout="row">
      <md-button
        class="md-fab md-mini"
        ng-click="$ctrl.openDialog('destination')"
      >
        <md-tooltip md-autohide="true">
          Add destination point
        </md-tooltip>
        <md-icon md-svg-icon="coords"></md-icon>
      </md-button>
      <googlemaps-autocomplete
        flex
        placeholder="destination"
        ng-model="$ctrl.contributionFormData.destination"
        required="true"
        on-place-changed="$ctrl.changePlace('destination', position)"
        on-error="$ctrl.handleError(error)"
      ></googlemaps-autocomplete>
    </div>
    <div class="form-actions">
      <md-button
        class="md-raised"
        ng-class="{'md-primary':contributionForm.$valid}"
        type="submit"
      >Submit
      </md-button>
    </div>

  </form>

</md-content>
