nav-bar {
  .md-button.sidebar-btn {
    width: 100%;
  }
  .md-button._md-nav-button {
    &.md-active {
      color: rgba(255,255,255,0.87);
    }
    &.md-unselected {
      color: rgba(255,255,255,0.5);
    }
  }
  md-nav-ink-bar {
    background-color: rgba(255,255,255,0.87);
  }

}
