- var opts = htmlWebpackPlugin.options;

doctype html
html(lang="ru")
    head
        base(href="/")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0")
        title=opts.title
        link(rel="icon" type="image/x-icon" href="favicon.ico")
        script(src="https://maps.googleapis.com/maps/api/js?libraries=" + opts.google.libraries + "&key=" + opts.google.apiKey)
    body
        app(ng-cloak flex layout="column")
